@model List<MovieWebsite.Models.Celebrity>
<div class="celebrities">
    <h4 class="sb-title">Spotlight Celebrities</h4>
    @foreach(var celeb in Model)
    {
    <div class="celeb-item">
        <a href="#"><img src="Content/images/uploads/@celeb.Avatar" alt="" width="70" height="70"></a>
        <div class="celeb-author">
            <h6><a href="#">@celeb.NAME</a></h6>
            <span>@celeb.Role</span>
        </div>
    </div>
    }
    <a href="#" class="btn">See all celebrities<i class="ion-ios-arrow-right"></i></a>
</div>

