@model List<MovieWebsite.Models.Movie>
<div class="slider movie-items">
    <div class="container">
        <div class="row">
            <div class="social-link">
                <p>Follow us: </p>
                <a href="#"><i class="ion-social-facebook"></i></a>
                <a href="#"><i class="ion-social-twitter"></i></a>
                <a href="#"><i class="ion-social-googleplus"></i></a>
                <a href="#"><i class="ion-social-youtube"></i></a>
            </div>
            <div class="slick-multiItemSlider">
                @Model = @Model.Take(9);
                @foreach(var movie in Model)
                {
                <div class="movie-item">
                    <div class="mv-img">
                        <a href="#"><img src="Content/images/uploads/@movie.Wallpaper" alt="" width="285" height="437"></a>
                    </div>
                    <div class="title-in">
                        <div class="cate">
                            <span class="blue"><a href="#">Sci-fi</a></span>
                        </div>
                        <h6><a href="#">@movie.Name</a></h6>
                        <p><i class="ion-android-star"></i><span>@movie.Score</span> /10</p>
                    </div>
                </div>
                }
            </div>
        </div>
    </div>
</div>