@model List<MovieWebsite.Models.Movie>
<div id="tab1" class="tab active">
    <div class="row">
        <div class="slick-multiItem">
            @foreach (var movie in Model)
            {
                <div class="slide-it">
                    <div class="movie-item">
                        <div class="mv-img">
                            <img style="width: 185px; height: 284px;" src="Content/images/uploads/@movie.Wallpaper" alt="">
                        </div>
                        <div class="hvr-inner">
                            <a href="/movie/@movie.Meta"> Read more <i class="ion-android-arrow-dropright"></i> </a>
                        </div>
                        <div class="title-in">
                            <h6><a href="/movie/@movie.Meta">@movie.Name</a></h6>
                            <p><i class="ion-android-star"></i><span>@($"{movie.Score:F1}")</span> /10</p>
                        </div>
                    </div>
                </div>
             }
        </div>
    </div>
</div>
