@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <title>Movie Website</title>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <link rel="profile" href="#">
    <link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Dosis:400,700,500|Nunito:300,400,600' />
    <meta name=viewport content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone-no">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/Scripts")
</head>
<body>
    <div class="page-single-2">
        <div class="container">
            <div class="row">
                <div class="middle-content">
                    <a href="index-2.html"><img class="md-logo" src="../Content/images/logo1.png" alt=""></a>
                    <img src="../Content/images/uploads/err-img.png" alt="">
                    <h1>Page not found</h1>
                    <a href="/" class="redbtn">go home</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>